* {
    padding: 0px;
    margin: 0px;
}



.roboto-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}


body {
    background-image: url("images/edwin-andrade-6liebVeAfrY-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}


.logo-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}




.arise-container {
    margin-top: 30px;
    padding: 60px;
}


a {
    text-decoration: none;
    color: antiquewhite;
}

button.link {
    padding: 10px 30px 10px 20px;
    border-radius: 10px;
    border-style: none;
    background-color: #E67E22;
}


button.link {
    padding: 10px 30px 10px 20px;
    border-radius: 10px;
    border-style: none;
    background-color: #E67E22;
}


button.register {
    padding: 15px 40px 15px 40px;
    border-radius: 10px;
    border: 2px solid #9B5DE0;
    background-color: #9B5DE0;
    color: white;
}


.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
}

img[src$=".png"] {
    width: 100px;
    height: 100%;
}
